* {
    margin: 0;
    overflow-x: hidden;
}

.container {
    position: relative;
}

body {
    height: 200vh;
}

nav {
    position: absolute;
    top: 3vw;
    left: 8%;
    z-index: 10;
    width: 25vw;
    ul {
        padding: 0;
        display: flex;
        justify-content: space-between;
        li {
            font: {
                family: 'Roboto', sans-serif;
                weight: 300;
                size: 1.15vw;
            }
            a {
                padding: 0 0.85vw;
                text-decoration: none;
                color: black;
            }
        }
    }
}

.container-main {
    article {
        position: absolute;
        .subtitle {
            position: absolute;
            font-family: 'Roboto', sans-serif;
            font-size: 1.15vw;
            font-weight: 500;
            bottom: -1.5vw;
            left: 0;
        }
    }
    .container-hero-text {
        z-index: 5;
        top: 12vw;
        left: 30vw;
        h1 {
            font: {
                family: 'Roboto', sans-serif;
                weight: 500;
                size: 4.15vw;
            }
        }
        
        h2 {
            margin-top: 1.15vw;
            width: 60%;
            white-space: wrap;
            font: {
                family: 'Roboto', sans-serif;
                weight: 300;
                size: 2.55vw;
            }
        }
    }
    
    .container-forest {
        margin-left: 6vw;
        overflow: visible;
        top: 9vw;
        width: 28%;
        figure {
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 36vw;
            img {
                position: absolute;
                object-fit: cover;
                width: 100%;
                height: auto;
                transform: translateY(-10%);
            }
        }
    }
    
    .container-fern {
        width: 22%;
        left: 20vw;
        top: 38vw;
        overflow: visible;
        figure {
            width: 100%;
            height: 30vw;
            position: relative;
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                // transform: translateY(-10%);
            }
        }
    }
    
    .container-cactus {
        width: 30%;
        right: 6vw;
        top: 7vw;
        overflow: visible;
        figure {
            width: 100%;
            height: 40vw;
            position: relative;
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                // transform: translateY(-10%);
            }
        }
    }
}


